<footer class="footer">
    <div class="f-info">
<div class="f-info-socials" >
    <a href=""><i class="fa-brands fa-github"></i></a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abhay73verma@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/abhay-verma-36488325b" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-linkedin"></i></a>
</div>
<div class="f-info-brand">&copy;Wanderlust Private Limited</div>
<div class="f-into-links"></div>
<a href="https://www.termsfeed.com/live/87fd7d12-b170-4544-910e-43bc0863d4ea" target="_blank" rel="noopener noreferrer">Privacy&Terms</a>
<!-- <a href="/terms">Terms</a> -->
    </div>
</footer>