
<% layout("/layout/boilerplate")%> 
<!-- filter section -->
  <div id="filters">
    <div class="d-flex overflow-auto gap-4 pb-2 py-2 icon-scroll" style="white-space: nowrap;">

  <a href="/listings?category=Trending" class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </a>

  <a href="/listings?category=Rooms" class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </a>

  <a href="/listings?category=Iconic Cities" class="filter">
    <div><i class="fa-solid fa-building"></i></div>
    <p>Iconic Cities</p>
  </a>

  <a href="/listings?category=Mountains" class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </a>

  <a href="/listings?category=Castle" class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castle</p>
  </a>

  <a href="/listings?category=Farms" class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
  </a>

  <a href="/listings?category=Arctic" class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Arctic</p>
  </a>

  <a href="/listings?category=Pools" class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pools</p>
  </a>

  <a href="/listings?category=Camping" class="filter">
    <div><i class="fa-solid fa-tent"></i></div>
    <p>Camping</p>
  </a>

  <a href="/listings?category=Desert" class="filter">
    <div><i class="fa-solid fa-sun-plant-wilt"></i></div>
    <p>Desert</p>
  </a>

  <a href="/listings?category=Beach" class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </a>

  <a href="/listings?category=Restaurant" class="filter">
    <div><i class="fa-solid fa-utensils"></i></div>
    <p>Restaurant</p>
  </a>

  <a href="/listings?category=Skyscrapers" class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Skyscrapers</p>
  </a>
  <a href="/listings?category=Others" class="filter">
    <div><i class="fa-solid fa-left-long"></i></div>
    <p>Others</p>
  </a>
</div>
</div>

    <!-- <h2>Explore Destinations</h2> -->
   <br>
   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" >
     <%  for (let listings of allListings){ %>
     <a href="/listings/<%= listings._id %>" class="listing-links">
    <div class="card col listing-card h-100 " >

     <img src="<%= listings.image.url%>" class="card-img-top" alt="listing_image" style="height:20rem" loading="lazy" decoding="async">
  <div class="card-body ">
      <p class="card-text" style="margin:0;">
      <b class="text-break"><%= listings.title %></b>
      <div class="card-img-overlay"></div>
       &#8377;<%=listings.price.toLocaleString("en-IN") %>/night
      </p>
   </div>
</div>
       <% } %> 
   </div>





   
   <style>
    #filters{
        display: flex;
        flex-wrap: wrap;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
      
    }
    a{
        text-decoration: none;
    }
    p,i{
        color: black;
    }
    .icon-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  scroll-behavior: smooth;
}

/* Hide scrollbar (Chrome, Safari) */
.icon-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.icon-scroll {
  scrollbar-width: none;
}
</style>
