<% layout("/layout/boilerplate")%>
<div class="row mt-3">
<div class="alert alert-danger col-6 offset-3"  text-danger" role="alert">
    
 <p class="alert-heading">&#9888 <%= message %></p>
</div>
</div>

